# Banco de dados
DATABASE_URL="mysql://USUARIO:SENHA@HOST:PORTA/NOME_DO_BANCO"

# JWT
JWT_SECRET=sua_chave_secreta_aqui

# Porta da aplicação
PORT=9534

# Credenciais de acesso à API (usadas no /auth/login)
AUTH_USER=admin
AUTH_PASS=admin123

# RabbitMQ
RABBITMQ_URL=amqp://USUARIO:SENHA@HOST:5672
